.env
*.log

local_settings.py
db.sqlite3-journal
media/


# Ignore system files
.DS_Store
Thumbs.db

# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Python virtual environment
venv/
__pycache__/
*.pyc

# Django migration files (if unnecessary)
**/migrations/*.pyc
**/migrations/*.py

# Build files
dist/
build/

db.sqlite3